@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@media (prefers-reduced-motion: no-preference) {
  .fade-in {
    --duration: 0s;
    --opacity: 1;

    transition-property: opacity;
    transition-duration: var(--duration);
    transition-timing-function: ease-in-out;
    opacity: var(--opacity);
    transition-delay: 0s;

    @starting-style {
      opacity: 0;
    }
  }
}

.league-spartan {
  font-family: 'League Spartan', sans-serif;
}